<% layout('layout') -%>

<div class="jumbotron">
    <h1>Record Player</h1>
    <p class="lead">PureCloud Record Player Demonstration.</p>
</div>

<div class="row">
</div>
<script>
function initialize_view()
{
}
</script>
