body { padding-top: 70px; }

# From bootstrap
a {
  background-color: transparent;
}
mark {
  background: #ff0;
  color: #000;
}
body {
  color: #000000;
  background-color: #ffffff;
}
a {
  color: #0585a7;
}
a:hover,
a:focus {
  color: #0e5470;
}
.img-thumbnail {
  background-color: #ffffff;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #000000;
}
.text-muted {
  color: #0585a7;
}
.text-primary {
  color: #0e5470;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #4dc5d7;
}
.text-success {
  color: #000000;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2d2d2;
}
.text-info {
  color: #000000;
}
a.text-info:hover,
a.text-info:focus {
  color: #d2d2d2;
}
.text-warning {
  color: #000000;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #d2d2d2;
}
.text-danger {
  color: #000000;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d2d2d2;
}
.bg-primary {
  color: #fff;
  background-color: #0e5470;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #4dc5d7;
}
.bg-success {
  background-color: #5cb85c;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #449d44;
}
.bg-info {
  background-color: #5bc0de;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #31b0d5;
}
.bg-warning {
  background-color: #f0ad4e;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #ec971f;
}
.bg-danger {
  background-color: #d9534f;
}
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #c9302c;
}
code {
  color: #c7254e;
  background-color: #f9f2f4;
}
kbd {
  color: #ffffff;
  background-color: #333333;
}
pre {
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
}
pre code {
  color: inherit;
  background-color: transparent;
}
table {
  background-color: transparent;
}
caption {
  color: #0585a7;
}
.table .table {
  background-color: #ffffff;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #0585a7;
}
.table-hover > tbody > tr:hover {
  background-color: #485563;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #485563;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #3d4954;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #5cb85c;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #4cae4c;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #5bc0de;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #46b8da;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #f0ad4e;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #eea236;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #d9534f;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #d43f3a;
}
output {
  color: #ffffff;
}
.form-control {
  color: #ffffff;
  background-color: #ffffff;
}
.form-control:focus {
  border-color: transparent;
}
.form-control::-moz-placeholder {
  color: #cccccc;
}
.form-control:-ms-input-placeholder {
  color: #cccccc;
}
.form-control::-webkit-input-placeholder {
  color: #cccccc;
}
.form-control::-ms-expand {
  background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #000000;
  opacity: 1;
}
.btn-default {
  color: #ffffff;
  background-color: #0585a7;
  border-color: transparent;
}
.btn-default:focus,
.btn-default.focus {
  color: #ffffff;
  background-color: #39444e;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:hover {
  color: #ffffff;
  background-color: #39444e;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #39444e;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: #2a323a;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #0585a7;
  border-color: transparent;
}
.btn-default .badge {
  color: #0585a7;
  background-color: #ffffff;
}
.btn-primary {
  color: #ffffff;
  background-color: #0e5470;
  border-color: transparent;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #4dc5d7;
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #4dc5d7;
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #4dc5d7;
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #bababa;
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #0e5470;
  border-color: transparent;
}
.btn-primary .badge {
  color: #0e5470;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: transparent;
}
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #449d44;
  border-color: rgba(0, 0, 0, 0);
}
.btn-success:hover {
  color: #ffffff;
  background-color: #449d44;
  border-color: rgba(0, 0, 0, 0);
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: rgba(0, 0, 0, 0);
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #398439;
  border-color: rgba(0, 0, 0, 0);
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5cb85c;
  border-color: transparent;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: transparent;
}
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: rgba(0, 0, 0, 0);
}
.btn-info:hover {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: rgba(0, 0, 0, 0);
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: rgba(0, 0, 0, 0);
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #269abc;
  border-color: rgba(0, 0, 0, 0);
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: transparent;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: transparent;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #ec971f;
  border-color: rgba(0, 0, 0, 0);
}
.btn-warning:hover {
  color: #ffffff;
  background-color: #ec971f;
  border-color: rgba(0, 0, 0, 0);
}


.nav > li > a:focus {
  background-color: #0585a7;
}
.nav > li.disabled > a {
  color: #0585a7;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #0585a7;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #0585a7;
  border-color: #0e5470;
}
.nav .nav-divider {
  background-color: #e5e5e5;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: rgba(0, 0, 0, 0);
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #ffffff;
  background-color: #d58512;
  border-color: rgba(0, 0, 0, 0);
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: transparent;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: transparent;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #c9302c;
  border-color: rgba(0, 0, 0, 0);
}
.btn-danger:hover {
  color: #ffffff;
  background-color: #c9302c;
  border-color: rgba(0, 0, 0, 0);
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: rgba(0, 0, 0, 0);
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #ffffff;
  background-color: #ac2925;
  border-color: rgba(0, 0, 0, 0);
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #d9534f;
  border-color: transparent;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.btn-link {
  color: #0e5470;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #0e5470;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #0585a7;
}
.dropdown-menu {
  background-color: #0585a7;
}
.dropdown-menu .divider {
  background-color: #ffffff;
}
.dropdown-menu > li > a {
  color: #000000;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #000000;
  background-color: #485563;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #0e5470;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #ffffff;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  background-color: transparent;
}
.dropdown-header {
  color: #ffffff;
}
.input-group-addon {
  line-height: 1;
  color: #ffffff;
  background-color: #0585a7;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #0585a7;
}
.nav > li.disabled > a {
  color: #0585a7;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #0585a7;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #0585a7;
  border-color: #0e5470;
}
.nav .nav-divider {
  background-color: #e5e5e5;
}

.nav-tabs > li > a:hover {
  border-color: #0585a7 #0585a7 transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #0585a7;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #0585a7;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #0585a7;
  }
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #0e5470;
}
.navbar-default {
  background-color: #0585a7;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  background-color: #485563;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #485563;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #485563;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #485563;
  color: #000000;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: #485563;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: #485563;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #485563;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}
.navbar-default .btn-link {
  color: #000000;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #000000;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;
}
.navbar-inverse {
  background-color: #0e5470;
  background-color: #0e5470;
  border-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #ebebeb;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ebebeb;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #ebebeb;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ebebeb;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ebebeb;
  background-color: #4dc5d7;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #4dc5d7;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ebebeb;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #bf5a16;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #4dc5d7;
  color: #ebebeb;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ebebeb;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ebebeb;
    background-color: #4dc5d7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ebebeb;
    background-color: #4dc5d7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #ebebeb;
}
.navbar-inverse .navbar-link:hover {
  color: #ebebeb;
}
.navbar-inverse .btn-link {
  color: #ebebeb;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #ebebeb;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444444;
}

.breadcrumb {
  background-color: #0585a7;
}
.breadcrumb > li + li:before {
  color: #000000;
}
.breadcrumb > .active {
  color: #000000;
}
.pagination > li > a,
.pagination > li > span {
  color: #000000;
  background-color: #0585a7;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #000000;
  background-color: #485563;
  border-color: transparent;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #000000;
  background-color: #0e5470;
  border-color: transparent;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #323c46;
  background-color: #0585a7;
  border-color: transparent;
}
.pager li > a,
.pager li > span {
  background-color: #0585a7;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: #485563;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #323c46;
  background-color: #0585a7;
}
.label {
  color: #ffffff;
}
a.label:hover,
a.label:focus {
  color: #ffffff;
}
.label-default {
  background-color: #0585a7;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #39444e;
}
.label-primary {
  background-color: #0e5470;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #4dc5d7;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
.badge {
  color: #ebebeb;
  background-color: #0585a7;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
}
.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #0e5470;
  background-color: #ffffff;
}
.jumbotron {
  color: #ebebeb;
  background-color: #0585a7;
}
.jumbotron h1,
.jumbotron .h1 {
  color: #ebebeb;
}
.jumbotron > hr {
  border-top-color: #39444e;
}
.thumbnail {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #0e5470;
}
.thumbnail .caption {
  color: #000000;
}
.alert-dismissable .close,
.alert-dismissible .close {
  color: inherit;
}
.alert-success {
  background-color: #5cb85c;
  color: #ebebeb;
}
.alert-success hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-success .alert-link {
  color: #d2d2d2;
}
.alert-info {
  background-color: #5bc0de;
  border-color: transparent;
  color: #ebebeb;
}
.alert-info hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-info .alert-link {
  color: #d2d2d2;
}
.alert-warning {
  background-color: #f0ad4e;
  border-color: transparent;
  color: #ebebeb;
}
.alert-warning hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-warning .alert-link {
  color: #d2d2d2;
}
.alert-danger {
  background-color: #d9534f;
  border-color: transparent;
  color: #ebebeb;
}
.alert-danger hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-danger .alert-link {
  color: #d2d2d2;
}
.progress {
  background-color: #0585a7;
}
.progress-bar {
  color: #ffffff;
  background-color: #0e5470;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-bar-danger {
  background-color: #d9534f;
}
a.list-group-item,
button.list-group-item {
  color: #000000;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: #000000;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: #ebebeb;
  background-color: #485563;
}
.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  background-color: #ebebeb;
  color: #0585a7;
  cursor: not-allowed;
}
.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
  color: inherit;
}
.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
  color: #0585a7;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  color: #ffffff;
  background-color: #0e5470;
  border-color: #0e5470;
}
.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
  color: inherit;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #f9decc;
}
.list-group-item-success {
  color: #ebebeb;
  background-color: #5cb85c;
}
a.list-group-item-success,
button.list-group-item-success {
  color: #ebebeb;
}
a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
  color: inherit;
}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
  color: #ebebeb;
  background-color: #4cae4c;
}
a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
  color: #fff;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.list-group-item-info {
  color: #ebebeb;
  background-color: #5bc0de;
}
a.list-group-item-info,
button.list-group-item-info {
  color: #ebebeb;
}
a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
  color: inherit;
}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
  color: #ebebeb;
  background-color: #46b8da;
}
a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
  color: #fff;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.list-group-item-warning {
  color: #ebebeb;
  background-color: #f0ad4e;
}
a.list-group-item-warning,
button.list-group-item-warning {
  color: #ebebeb;
}
a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
  color: inherit;
}
a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
  color: #ebebeb;
  background-color: #eea236;
}
a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.list-group-item-danger {
  color: #ebebeb;
  background-color: #d9534f;
}
a.list-group-item-danger,
button.list-group-item-danger {
  color: #ebebeb;
}
a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
  color: inherit;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
  color: #ebebeb;
  background-color: #d43f3a;
}
a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-default {
  border-color: transparent;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: transparent;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-primary {
  border-color: transparent;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #0e5470;
  border-color: transparent;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-primary > .panel-heading .badge {
  color: #0e5470;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-success {
  border-color: transparent;
}
.panel-success > .panel-heading {
  color: #ebebeb;
  background-color: #5cb85c;
  border-color: transparent;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-success > .panel-heading .badge {
  color: #5cb85c;
  background-color: #ebebeb;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-info {
  border-color: transparent;
}
.panel-info > .panel-heading {
  color: #ebebeb;
  background-color: #5bc0de;
  border-color: transparent;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-info > .panel-heading .badge {
  color: #5bc0de;
  background-color: #ebebeb;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-warning {
  border-color: transparent;
}
.panel-warning > .panel-heading {
  color: #ebebeb;
  background-color: #f0ad4e;
  border-color: transparent;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-warning > .panel-heading .badge {
  color: #f0ad4e;
  background-color: #ebebeb;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-danger {
  border-color: transparent;
}
.panel-danger > .panel-heading {
  color: #ebebeb;
  background-color: #d9534f;
  border-color: transparent;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-danger > .panel-heading .badge {
  color: #d9534f;
  background-color: #ebebeb;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.well {
  background-color: #0585a7;
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.close:hover,
.close:focus {
  color: #ebebeb;
}
.modal-content {
  background-color: #0585a7;
}
.modal-backdrop {
  background-color: #000000;
}
.tooltip-inner {
  color: #ffffff;
  background-color: #000000;
}
.tooltip-arrow {
  border-color: transparent;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #000000;
}
.popover {
  background-color: #0585a7;
}
.popover-title {
  background-color: #485563;
}
.popover > .arrow,
.popover > .arrow:after {
  border-color: transparent;
}
.popover.top > .arrow {
  border-top-color: transparent;
}
.popover.top > .arrow:after {
  border-top-color: #0585a7;
}
.popover.right > .arrow {
  border-right-color: transparent;
}
.popover.right > .arrow:after {
  border-right-color: #0585a7;
}
.popover.bottom > .arrow {
  border-bottom-color: transparent;
}
.popover.bottom > .arrow:after {
  border-bottom-color: #0585a7;
}
.popover.left > .arrow {
  border-left-color: transparent;
}
.popover.left > .arrow:after {
  border-left-color: #0585a7;
}
.carousel-control {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
}
.carousel-indicators li {
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  background-color: #ffffff;
}
.carousel-caption {
  color: #ffffff;
}
.navbar-default .badge {
  background-color: #fff;
  color: #0585a7;
}
.navbar-inverse .badge {
  background-color: #0e5470;
  color: #0e5470;
}
.btn-default:hover {
  background-color: #485563;
}
.text-primary,
.text-primary:hover {
  color: #0e5470;
}
.text-success,
.text-success:hover {
  color: #5cb85c;
}
.text-danger,
.text-danger:hover {
  color: #d9534f;
}
.text-warning,
.text-warning:hover {
  color: #f0ad4e;
}
.text-info,
.text-info:hover {
  color: #5bc0de;
}
.page-header {
  border-bottom-color: #0585a7;
}
table a:not(.btn),
.table a:not(.btn) {
  color: #000000;
}
table .text-muted,
.table .text-muted {
  color: #0585a7;
}
table > thead > tr > th,
.table > thead > tr > th,
table > tbody > tr > th,
.table > tbody > tr > th,
table > tfoot > tr > th,
.table > tfoot > tr > th,
table > thead > tr > td,
.table > thead > tr > td,
table > tbody > tr > td,
.table > tbody > tr > td,
table > tfoot > tr > td,
.table > tfoot > tr > td {
  border-color: transparent;
}
input,
textarea {
  color: #000000;
}
.input-addon,
.input-group-addon {
  color: #ebebeb;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label,
.has-warning .form-control-feedback {
  color: #f0ad4e;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error .form-control-feedback {
  color: #d9534f;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label,
.has-success .form-control-feedback {
  color: #5cb85c;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent;
}
.nav-tabs > li > a {
  color: #ebebeb;
}
.nav-pills > li > a {
  color: #ebebeb;
}
.pager a {
  color: #ebebeb;
}
.alert {
  color: #fff;
}
.alert a,
.alert .alert-link {
  color: #fff;
}
a.list-group-item-success.active {
  background-color: #5cb85c;
}
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  background-color: #4cae4c;
}
a.list-group-item-warning.active {
  background-color: #f0ad4e;
}
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  background-color: #eea236;
}
a.list-group-item-danger.active {
  background-color: #d9534f;
}
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  background-color: #d43f3a;
}
.panel-default > .panel-heading {
  background-color: #485563;
  color: #ebebeb;
}
.thumbnail {
  background-color: #0585a7;
}
.modal-header,
.modal-footer {
  background-color: #485563;
}

.nav-logo {
  margin-top: 4.0px;
  margin-bottom: 4.0px;
  max-height: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
